@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6079fb;
  --color-secondary: #fb60f4;
  --color-tertiary: #60fbe1;
  --color-quaternary: #fb6060;
  --color-quinary: #fbee60;
  --color-senary: #60fb7a;
  --color-septenary: #a260fb;
  --color-octonary: #fff;
}