@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #242424;
    --color-secondary: #665c54;
    --color-trinary: #e7d7ad;
    --color-red: #fb4934;
    --color-green: #98971a;
    --color-yellow: #fabd2f;
}