@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:wght@100..900&display=swap');

@import './base.css';

::selection {
  background: theme('colors.catppuccin-gray');
  color: theme('colors.catppuccin-milk');
}